.BuildControls{
    width: 100%;
    height: 50%;
    overflow: scroll;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin:auto;
    border: 0px solid #eee;
    border-bottom: 5px solid #966909;
}


.OrderButton {
    background-color: lightgoldenrodyellow;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #966909
    
}

.OrderButton:hover, .OrderButton:active {
    
    color: #966909;
    box-shadow:6px 6px 8px #966909
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

.PriceBox{
    border:1px solid #eeee;
    background-color: beige;
    padding:5px;
    border-radius:8px;
    box-shadow: 6px 6px 6px #966909
    
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }

}

/* @media (max-width:650px){
    .BuildControls{
        width:70%
        
    }
} */